asgiref==3.11.1
cachetools==5.5.2
certifi==2026.5.20
charset-normalizer==3.4.7
cloudinary==1.44.2
dj-database-url==3.1.0
dj3-cloudinary-storage==0.0.6
Django==6.0.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.1
google-auth==2.29.0
idna==3.18
packaging==26.2
psycopg==3.3.4
psycopg-binary==3.3.4
pyasn1==0.6.3
pyasn1_modules==0.4.2
PyJWT==2.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
rsa==4.9.1
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
Pillow==11.2.1
qrcode==8.2
openai>=1.0.0
pypdf>=4.0.0
