asgiref==3.11.1
dj-database-url==3.1.0
Django==6.0.2
djangorestframework==3.16.1
sqlparse==0.5.5
python-dotenv==1.2.2
djangorestframework-simplejwt==5.3.1
google-auth==2.29.0
celery==5.3.6
redis==5.0.3
psycopg[binary]>=3.2.10


