@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Cinzel+Decorative:wght@400;700&display=swap');

@import "tailwindcss";

@theme {
  --color-background: #ece8dc;
  --color-accent: #d69642;
  --color-crimson: #660000;
  --color-primary: #1f3347;
  --color-text: #2B2B2B;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #ece8dc;
  color: #2B2B2B;
}

.font-pirata {
  font-family: "Pirata One", serif;
}

.font-cinzel {
  font-family: "Cinzel Decorative", serif;
}

.font-body {
  font-family: Inter, system-ui, sans-serif;
}